In [1]:
import datetime
import pandas as pd

In [2]:
df0 = pd.read_feather("data/trip-updates.feather")
df0['datetime'] = df0['time'].apply(lambda x: datetime.datetime.fromtimestamp(x))

In [52]:
df = df0.iloc[:100_000].copy()
df.head()

,trip_id,start_time,start_date,route_id,stop_sequence,delay,time,uncertainty,stop_id,datetime
0,0#785-17,16:39:00,20230506,115,12,46,1683384892,21,20323,2023-05-06 16:54:52
1,0#785-17,16:39:00,20230506,115,13,36,1683384964,21,20215,2023-05-06 16:56:04
2,0#785-17,16:39:00,20230506,115,14,56,1683385076,21,79756,2023-05-06 16:57:56
3,0#785-17,16:39:00,20230506,115,15,90,1683385168,21,72993,2023-05-06 16:59:28
4,0#785-17,16:39:00,20230506,115,16,56,1683385222,21,20295,2023-05-06 17:00:22

In [53]:
# Are there any duplicate rows?
print('Number of duplicate rows: ', df.duplicated().sum())

# Drop duplicates
df.drop_duplicates(inplace=True)

# Are there any duplicate rows?
print('Remaining number of duplicate rows: ', df.duplicated().sum())
df.shape

Number of duplicate rows:  729
Remaining number of duplicate rows:  0

(99271, 10)

In [54]:
weirds = df.groupby(['trip_id', 'start_time', 'uncertainty','start_date']).apply(len)
weirds = weirds.sort_values(ascending=False)
weirds.shape

(8510,)

In [55]:
weirds.describe()

count    8510.000000
mean       11.665217
std        13.952959
min         1.000000
25%         1.000000
50%         5.000000
75%        19.000000
max       159.000000
dtype: float64

In [56]:
w = df[df[weirds.index.names].isin(weirds.index[500]).all(axis=1)].sort_values(by=['datetime'])
w

,trip_id,start_time,start_date,route_id,stop_sequence,delay,time,uncertainty,stop_id,datetime
47773,0#2060-16,18:06:00,20230506,49,7,-362,1683389142,13,75076,2023-05-06 18:05:42
47774,0#2060-16,18:06:00,20230506,49,8,-358,1683389194,13,75077,2023-05-06 18:06:34
47775,0#2060-16,18:06:00,20230506,49,9,-300,1683389292,13,73283,2023-05-06 18:08:12
47776,0#2060-16,18:06:00,20230506,49,10,-280,1683389358,13,73285,2023-05-06 18:09:18
47777,0#2060-16,18:06:00,20230506,49,11,-270,1683389422,13,75078,2023-05-06 18:10:22
47778,0#2060-16,18:06:00,20230506,49,12,-338,1683389424,13,75079,2023-05-06 18:10:24
47780,0#2060-16,18:06:00,20230506,49,14,-304,1683389558,13,75081,2023-05-06 18:12:38
47781,0#2060-16,18:06:00,20230506,49,15,-332,1683389582,13,75082,2023-05-06 18:13:02
47782,0#2060-16,18:06:00,20230506,49,16,-340,1683389646,13,75083,2023-05-06 18:14:06
47783,0#2060-16,18:06:00,20230506,49,17,-326,1683389718,13,78853,2023-05-06 18:15:18
47784,0#2060-16,18:06:00,20230506,49,18,-352,1683389792,13,78098,2023-05-06 18:16:32
47785,0#2060-16,18:06:00,20230506,49,19,-378,1683389822,13,78099,2023-05-06 18:17:02
47786,0#2060-16,18:06:00,20230506,49,20,-384,1683389886,13,78100,2023-05-06 18:18:06
47787,0#2060-16,18:06:00,20230506,49,21,-374,1683389966,13,78101,2023-05-06 18:19:26
47788,0#2060-16,18:06:00,20230506,49,22,-408,1683390062,13,73295,2023-05-06 18:21:02
47789,0#2060-16,18:06:00,20230506,49,23,-416,1683390108,13,73297,2023-05-06 18:21:48
47790,0#2060-16,18:06:00,20230506,49,24,-396,1683390168,13,73298,2023-05-06 18:22:48
47791,0#2060-16,18:06:00,20230506,49,25,-402,1683390232,13,73301,2023-05-06 18:23:52
47792,0#2060-16,18:06:00,20230506,49,26,-406,1683390282,13,73303,2023-05-06 18:24:42
47793,0#2060-16,18:06:00,20230506,49,27,-424,1683390336,13,73305,2023-05-06 18:25:36
47794,0#2060-16,18:06:00,20230506,49,28,-430,1683390378,13,73307,2023-05-06 18:26:18
47795,0#2060-16,18:06:00,20230506,49,29,-408,1683390450,13,73311,2023-05-06 18:27:30
47796,0#2060-16,18:06:00,20230506,49,30,-370,1683390590,13,74288,2023-05-06 18:29:50
47797,0#2060-16,18:06:00,20230506,49,31,-346,1683390646,13,73152,2023-05-06 18:30:46
47798,0#2060-16,18:06:00,20230506,49,32,-322,1683390722,13,73154,2023-05-06 18:32:02
47799,0#2060-16,18:06:00,20230506,49,33,-336,1683390746,13,73155,2023-05-06 18:32:26
47800,0#2060-16,18:06:00,20230506,49,34,-316,1683390818,13,73156,2023-05-06 18:33:38
47801,0#2060-16,18:06:00,20230506,49,35,-360,1683390854,13,80766,2023-05-06 18:34:14
47802,0#2060-16,18:06:00,20230506,49,36,-382,1683390884,13,73160,2023-05-06 18:34:44
47803,0#2060-16,18:06:00,20230506,49,37,-398,1683390912,13,73162,2023-05-06 18:35:12
47805,0#2060-16,18:06:00,20230506,49,39,-438,1683390974,13,73331,2023-05-06 18:36:14
47806,0#2060-16,18:06:00,20230506,49,40,-448,1683391062,13,73332,2023-05-06 18:37:42
47807,0#2060-16,18:06:00,20230506,49,41,-444,1683391106,13,73333,2023-05-06 18:38:26
47808,0#2060-16,18:06:00,20230506,49,42,-432,1683391296,13,73334,2023-05-06 18:41:36
47809,0#2060-16,18:06:00,20230506,49,43,-430,1683391354,13,73342,2023-05-06 18:42:34
47810,0#2060-16,18:06:00,20230506,49,44,-346,1683391522,13,72373,2023-05-06 18:45:22